body {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}
a {
    color:black;
    text-decoration:none;
}
h2 {
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom:5px;
}
h3 {
    margin:15px 0 0 0;
}
h4 {
    font-weight: 200;
    color:teal;
    margin:0;
    font-size: 0.8em;   
}
.date {
    text-align:right;
}
.wrapper {
    margin: 0px 200px 0px 200px;
}

.icon {
    width:20px;
    padding:0px;
    margin:0px;
}